[submodule "3p/json"]
	path = 3p/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "3p/pipes"]
	path = 3p/pipes
	url = https://github.com/rcgoodfellow/pipes
	branch = master
