[submodule "test"]
	path = test
	url = git@github.com:marinatb/test
	branch = master
[submodule "api"]
	path = api
	url = git@github.com:marinatb/api
	branch = master
[submodule "internal"]
	path = internal
	url = git@github.com:marinatb/internal
	branch = master
[submodule "db"]
	path = db
	url = git@github.com:marinatb/db
	branch = master
[submodule "client"]
	path = client
	url = git@github.com:marinatb/client
	branch = master
[submodule "3p/proxygen"]
	path = 3p/proxygen
	url = https://github.com/rcgoodfellow/proxygen
	branch = master
[submodule "common"]
	path = common
	url = git@github.com:marinatb/common
	branch = master
[submodule "web"]
	path = web
	url = git@github.com:marinatb/web
	branch = master
[submodule "core"]
	path = core
	url = git@github.com:marinatb/core
	branch = master
[submodule "3p/json"]
	path = 3p/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "3p/pipes"]
	path = 3p/pipes
	url = https://github.com/rcgoodfellow/pipes
	branch = master
[submodule "3p/wangle"]
	path = 3p/wangle
	url = https://github.com/rcgoodfellow/wangle
	branch = master
[submodule "3p/folly"]
	path = 3p/folly
	url = https://github.com/rcgoodfellow/folly
	branch = master
