Source: marinatb-ops
Priority: optional
Maintainer: Ryan Goodfellow <rgoodfel@isi.edu>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: devel
Homepage: https://marinatb.net
Vcs-Git: https://github.com/marinatb/marinatb.git
#Vcs-Browser: https://launcpad.net/rgoodfel/marinatb-ops.git

Package: marinatb-ops
Section: libdevel
Architecture: amd64
Depends: uuid | libpq5
Description: Marina cybersecurity network testbed operations services
  This package includes the marinatb core services and database
    - https api
    - access control
    - blueprint
    - materialization
  It does not include host-control software that is in a different
  package called marinatb-hostctl
